/* @import 'https://fonts.googleapis.com/css?family=Lato:300,400,700'; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nanum+Pen+Script&family=Oleo+Script&family=Playfair+Display:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300&display=swap');
/* css style sheet for the general setting */
html, body {
  background-color: #FFF;
  /* background-image: url("../images/background/background6.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3{
  font-family: 'Playfair Display', serif;
}

h1{
  font-family: 'Oleo Script', cursive;
  font-size: 36px;
}

h2{
  font-family: 'Oleo Script', cursive;
  font-size: 30px;
}

p{
  font-family:'Kaushan Script', cursive ;
  font-size: 20px;
}

ul{
  list-style-type: none;
}

a{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #000;;
  text-decoration: none;
}

.skip {
  position: absolute;
  height: 25px;
  background-color: burlywood;
  top: -1000px;
}

.skip:focus {
  left: 20px;
  top: 100px;
}

/* css style sheet for the nav bar */
header{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #9A3B3B;
  padding: 20px;
  /* opacity: 0.9; */
  box-shadow: #00000029 0px 2px 4px 0px;
}

header a{
  color: #F3EEEA;
}

header .nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between; 
  margin: 0;
  padding: 0;
}

header .nav-bar li{
  padding: 0 15px;
  text-decoration: none;
}

header .nav-bar li a:hover{
  color: #cfcdcd;
  transition: 0.5s;
}

header .nav-bar li a.active{
  color: #cfcdcd;
  transition: 0.5s;
}

header .mail{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: #f0e4e7;
  padding: 20px;
  border-radius: 30px;
  box-shadow: #00000029 0px 2px 4px 0px;
}

header .mail a{
  padding-right: 15px;
  color: #ca4c52;
}

header .mail:hover{
  background-color: #ca4c52;
  transition: 0.5s;
}

header .mail:hover a{
  padding-right:15px;
  color: #F3EEEA;
}

/* css style for the general main page setting */
main {
  display: block;
  align-items: center;
  justify-items: center;
  color: #22223B;
  font-size: 14px;
  font-family: Lato, sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

/* css style sheet for home page */

/* Next & previous buttons */

.slideshow-container {
  position: relative;
  margin: auto;

}

.slideshow-container img{
  box-shadow: 8px 9px 29px 0px rgba(0,0,0,0.75);
}

/* .slideshow-container img:hover{
  opacity: 0.3;
  transition: 0.5s;
} */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.images-nav-container{
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.images-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.image-tag{
  color: #ca4c52;
  background-color: #f0e4e7;
  box-shadow: #00000029 0px 2px 4px 0px;
  border-radius: 20px;
  padding: 5px 50px;
  margin: 5px;
  transition: 0.5s;
}

.image-tag-active, .image-tag:hover{
  color: #f0e4e7;
  background-color: #ca4c52;
  transition: 0.5s;
}


.self-intro{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
  padding-left: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  z-index: 1;
}

.self-intro .image img{
  justify-content: center;
  width: 500px;  
  margin: 0;
  padding: 0;
  border:5px solid #7C809B;
  border-radius: 20%;

  &:hover {
    cursor: pointer; 
    animation:bounceOut .4s linear;
  }
}

@keyframes bounceOut {
  0%{ box-shadow: 0 0 0 4px #7C809B; opacity:1;}
  25%{ box-shadow: 0 0 0 1px #7C809B; opacity:1;}
  50%{ box-shadow: 0 0 0 7px #7C809B; opacity:1; }
  75%{ box-shadow: 0 0 0 4px #7C809B; opacity:1;}
  100%{ box-shadow: 0 0 0 5px #7C809B; opacity:1;}
}

@media only screen and (max-width: 1000px) {
  .self-intro .image img{
    width: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .self-intro .image img{
    width: 200px;
  }

  .self-text p{
    font-size: 12px;
  }

  .self-intro{
    z-index: 1;
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  .self-intro {
    flex-direction: column;
  }

  .self-intro .image{
    padding-top: 30px;
  }

  .image-tag{
    padding: 5px 5px;
  }
  
}


.self-intro .self-text{
  padding: 70px;
}

.self-intro .self-text h1::after{
  content: "\1F431"
}

.introduction{
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 50px;
}

.introduction .introduction-text{
  padding-left: 70px;
  padding-right: 50px;
}

/* css sheet for overview page */
#overview p{
  font-size: 20px;
  font-family: 'Nanum Pen Script', cursive;
}

#overview h2{
  font-size: 24px;
}


.image-background{
  position: fixed;
  opacity: 0.3;
  bottom: 0;
  left: 0;
  z-index: 0;
}

/* Timeline Container */
.timeline {
  margin: auto auto;
}

/* Card container */
.card-outer {
  display: block;
  margin: auto auto;
  position: relative;
  background-color: transparent;
  perspective: 1000px;
  height: 300px;
  width: 300px;
}

/* Information about the timeline */
.card {
  /* padding: 4rem 8rem; */
  position: relative;
  width: 300px;
  height: 250px;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-flipped {
  transform: rotateY(180deg);
}

.cover, .info {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.info {
  background-color: #475841;
  color: white;
  transform: rotateY(180deg);
  text-align: center;
}

/* .card-outer:nth-child(odd) .info .title{
  text-align: left;
}

.card-outer:nth-child(even) .info .title{
  text-align: right;
} */


/* setting padding based on even or odd */
.card-outer:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card-outer:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card-outer::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #D35269;
}

/* Add timeline dot */
.card-outer:nth-child(odd) .card-outer2::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -15px;
  background-color: #fff;
  border: 4px solid #D35269;
  border-radius: 50%;
}


.card-outer:nth-child(even) .card-outer2::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -15px;
  background-color: #fff;
  border: 4px solid #D35269;
  border-radius: 50%;
}

.card-outer:nth-child(odd) .card-outer2-active::before,
.card-outer:nth-child(odd):hover .card-outer2:hover::before,
.card-outer:nth-child(even) .card-outer2-active::before,
.card-outer:nth-child(even):hover .card-outer2:hover::before
{
  background-color: #D35269;
}


/* Setting the border of top, bottom, left */
.card-outer:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: 25px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card-outer:nth-child(even)::before {
  right: 0;
  top: -30px;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card-outer:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card-outer:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card-outer:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

.date{
  padding-left: -50px;
}

/* Title of the card */
.title {
  color: #fff;
  position: relative;
}

.cover{
  background-color: #bbb;
  color: black
}


.overview-title{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  bottom:70px;
  left:100px;
}


/* css style sheet for gallery page */
.app {
  height: 150vmin;
  width: 150vmin;
  background: #fff;
  /* position: relative; */
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: auto; */
  /* justify-content: center; */

  /* Hide the app on load */
  /* visibility: hidden; */
}

.gallery-title{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;

}

.gallery-intro{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  z-index: 1;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2% 3.6%;
  padding: 10px;
}

.gallery img{
  width: 100%;
}

.item {
  cursor: pointer;
  font-size: 0;
}

.detail {
  margin-top: 125px;
  position: fixed;
  /* top: 10px; */
  left: 50%;
  width: 90vmin;
  height: 70vmin;
  cursor: pointer;
  font-size: 0;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  max-height: 100%;
  overflow: auto;
}

.detail > img {
  position: relative;
  z-index: 1;
}

.detail .content {
  background: #232323;
  padding: 2rem 1.5rem;
  font-size: 1rem;
  box-sizing: border-box;
  flex-grow: 1;
  font-family: 'Kalnia', cursive;
  font-weight: bold;
}

.detail .content > * {
  margin-bottom: 1rem;
}

.detail .title {
  color: bisque;
  font-size: 2rem;
  text-transform: uppercase;
}

.detail .secondary {
  color: lightgray;
}

.detail .description {
  color: aliceblue;
  line-height: 1.5;
}

@media screen and (max-width: 1000px) {
  .app{
    height: 60vmin;
    width: 60vmin;
  }
  .gallery {
    grid-template-columns: 1fr;
  }

  .detail{
    width: 90vmin;
    height: 60vmin;
  }
  
}


footer{
  padding-top: 20px;
}