/* @import 'https://fonts.googleapis.com/css?family=Lato:300,400,700'; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital,wght@0,600;1,600&display=swap');

html, body {
  background-color: #F2ECBE;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3{
  font-family: 'Playfair Display', serif;
}

p{
  font-size: 20px;
}

ul{
  list-style-type: none;
}

a{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #000;;
  text-decoration: none;
}

.skip {
  position: absolute;
  height: 25px;
  background-color: burlywood;
  top: -1000px;
}

.skip:focus {
  left: 20px;
  top: 100px;
}

/* css style sheet for the nav bar */
header{
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #9A3B3B;
  padding: 20px;
  /* opacity: 0.9; */
  box-shadow: #00000029 0px 2px 4px 0px;
}

header a{
  color: #F3EEEA;
}

header .nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center; 
  margin: 0;
  padding: 0;
}

header .nav-bar li{
  padding: 0 15px;
  text-decoration: none;
}

header .nav-bar li a:hover{
  color: #cfcdcd;
  transition: 0.5s;
}

header .nav-bar li a.active{
  color: #cfcdcd;
  transition: 0.5s;
}

header .mail{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: #f0e4e7;
  padding: 20px;
  border-radius: 30px;
  box-shadow: #00000029 0px 2px 4px 0px;
}

header .mail a{
  padding-right: 15px;
  color: #ca4c52;
}

header .mail:hover{
  background-color: #ca4c52;
  transition: 0.5s;
}

header .mail:hover a{
  padding-right:15px;
  color: #F3EEEA;
}

/* css style for the general main page setting */
main {
  display: block;
  align-items: center;
  justify-items: center;
  color: #776B5D;
  font-size: 14px;
  font-family: Lato, sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

/* css style sheet for home page */

/* Next & previous buttons */

.slideshow-container {
  position: relative;
  margin: auto;
  border-radius: 20px;
  box-shadow: #00000029 0px 2px 4px 0px;
}

/* .slideshow-container img:hover{
  opacity: 0.3;
  transition: 0.5s;
} */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-active, .dot:hover {
  background-color: #717171;
}

.images-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.images-nav li{
  padding: 0 15px;
  text-decoration: none;
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.self-intro{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
  padding-left: 70px;
}

.self-intro .image img{
  justify-content: center;
  width: 300px;
  margin: 0;
  padding: 0;
  border:5px solid #B0A695;
  border-radius: 20%;

  &:hover {
    cursor: pointer; 
    animation:bounceOut .4s linear;
  }
}

@keyframes bounceOut {
  0%{ box-shadow: 0 0 0 4px #B0A695; opacity:1;}
  25%{ box-shadow: 0 0 0 1px #B0A695; opacity:1;}
  50%{ box-shadow: 0 0 0 7px #B0A695; opacity:1; }
  75%{ box-shadow: 0 0 0 4px #B0A695; opacity:1;}
  100%{ box-shadow: 0 0 0 5px #B0A695; opacity:1;}
}


.self-intro .self-text{
  padding: 70px;
}

.self-intro .self-text h2::after{
  content: "\1F431"
}

.introduction{
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 50px;
}

.introduction .introduction-text{
  padding-left: 70px;
  padding-right: 50px;
}

.overview-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.museum-grid{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

#museum1{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#museum2{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#museum3{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#museum4{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#museum5{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#museum6{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.museum{
  display: flex;
  flex-direction: column;
}

.museum-image{
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.museum-image > * {
  grid-area: 1/1;
  transition: .4s;
}

.museum-image figcaption{
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  padding: .75rem;
  background: var(--c,#0009);
  clip-path: inset(0 var(--_i,100%) 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}

.museum-image:hover figcaption{
  --_i: 0%;
}

.museum-image:hover img {
  transform: scale(1.2);
}

@supports not (-webkit-mask-clip: text) {
  .museum-image figcaption {
   color: #fff;
  }
}

.museum-text{
  display: block;
}

.museum-text p{
  color: #3F2305;
}



/* css style sheet for gallery page */
.app {
  height: 150vmin;
  width: 150vmin;
  background: #EBE3D5;
  /* position: relative; */
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: auto; */
  /* justify-content: center; */

  /* Hide the app on load */
  /* visibility: hidden; */
}

.gallery-title{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.gallery-intro{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2% 3.6%;
  padding: 10px;
}

.gallery img{
  width: 100%;
}

.item {
  cursor: pointer;
  font-size: 0;
}

.detail {
  margin-top: 125px;
  position: fixed;
  /* top: 10px; */
  left: 50%;
  width: 90vmin;
  height: 80vmin;
  cursor: pointer;
  font-size: 0;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  max-height: 100%;
  overflow: auto;
}

.detail > img {
  position: relative;
  z-index: 1;
}

.detail .content {
  background: #232323;
  padding: 2rem 1.5rem;
  font-size: 1rem;
  box-sizing: border-box;
  flex-grow: 1;
}

.detail .content > * {
  margin-bottom: 1rem;
}

.detail .title {
  font-size: 2rem;
  text-transform: uppercase;
}

.detail .secondary {
  color: lightgray;
}

.detail .description {
  line-height: 1.5;
}